:root {
    --bg-color: #000000;
    --term-color: #00c700;
    --term-color-clickable : #006e00;
    --prompt-color : #33FF33;
}

body {
    background-color: var(--bg-color);
    color: var(--term-green);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: x-large; 
}

.ascii-art-title {
    font-size: 1.75vw;
    font-weight: bold;
}

.terminal {
    background-color: var(--bg-color);
    color: var(--term-color);
    font-family: 'Courier New', Courier, monospace;
    cursor: default;
}

.terminal p {
    margin: 0%;
    padding-left: 5px;
    padding-right: 5px;
}

.cursor {
    display: inline-block;
    width: 0.6em;
    background-color: var(--prompt-color);
    animation: blink 1s step-start 0s infinite;
    margin-left: 0.1em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.prompt::before{
    color: var(--prompt-color);
    content: "david@mateias.xyz:~$ ";
}


.prompt {
    font-weight: bold;
}

.auto-complete {
    font-size: 26x;
}

.terminal-link{
    color: var(--term-color-clickable);
    text-decoration: none;
}

.terminal-link:hover{
    color: var(--prompt-color);
    cursor: crosshair;
}

.vim-bar #vim-bar-1 {
    background-color: var(--term-color);
    color: var(--bg-color);
}

.vim-bar #vim-bar-2 {
    background-color: var(--bg-color);
    color: white;
}

.vim-bar a {
    color: var(--term-color-clickable);
    text-decoration: none;
}

.vim-bar a:hover {
    color: var(--prompt-color);
}

.vim-bar p{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.vim-bar{
    position: fixed;
    min-width: 100%;
    bottom: 0;
    margin: 0;
}

