body {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    font-size: larger;
}

.terminal {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

.terminal p {
    margin: 0%;
    padding-left: 5px;
    padding-right: 5px;
}

.cursor {
    display: inline-block;
    width: 0.6em;
    background-color: #33FF33;
    animation: blink 1s step-start 0s infinite;
    margin-left: 0.1em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.prompt::before{
    color:#33FF33;
    content: "David A. Mateis@mateias.xyz:~$ ";
}


.prompt {
    font-weight: bold;
}


.terminal-link{
    color: #003d00;
    text-decoration: none;
}

.terminal-link:hover{
    color: #33FF33;
}

.vim-bar #vim-bar-1 {
    background-color: white;
    color: black;
}

.vim-bar #vim-bar-2 {
    background-color: black;
    color: white;
}

.vim-bar a {
    color: rgb(97, 97, 97);
    text-decoration: none;
}

.vim-bar a:hover {
    color: white;
}

.vim-bar p{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.vim-bar{
    position: fixed;
min-width: 100%;
bottom: 0;
margin: 0;
}

